<nav class="navigation" id="nav">
  <div class="navigation__content">
    <a class="home" href="#top"><span>GP</span></a>
    <ul class="nav-content">
      <li><a href="#Contact" class="navigation__page-link" href="events.html">Contact</a></li>
      <li><a href="#About" class="navigation__page-link" href="contact.html">About</a></li>
    </ul>
  </div><!-- NAVIGATION CONTENT -->
</nav>
<div id="top"></div>
<div class="content__box">
  <h1 class="UVP">All&nbsp;Your&nbsp;Tournaments in&nbsp;One&nbsp;Spot</h1>
  <!-- <div class="example-screens__box">
    <<%= image_tag "example_screens.png", :class => "example-screen",  :alt => "application example images"%> %>
  </div><!-- EXAMPLE SCREENS -->
  <div class="outer-box">
		<div class="splash placeholder-box"></div>
		<div class="form placeholder-box">
      <%= render "signupform" %>
    </div>
	</div>
  <div class="selling-points__box">
    <h2 class="selling-point">Key Detail about Gamer Pass</h2>
    <h2 class="selling-point">Another Consideration</h2>
    <h2 class="selling-point">Big Claim Reinforcing Unique Value Proposition</h2>
  </div><!-- SELLING POINTS -->

  <div class="signup__button" id="signup-button">
    <span class="signup__promise">Never Miss a Tournament</span><br>
    <span class="signup__text">Sign Up Now</span>
  </div><!-- SIGNUP BUTTON-->

  <div class="signup__backdrop signup__hidden" id="modal-backdrop"></div>
  <div class="signup__modal signup__hidden" id="signup-modal">
    <div class="signup__close-x__box" id="close-x">
      <div class="signup__close-x__down-arm"></div>
      <div class="signup__close-x__up-arm"></div>
    </div><!-- CLOSE X BOX -->
    <h3 class="modal-title">Complete this form to receive X benefit!</h3>
  </div><!-- SIGNUP MODAL -->

  <!-- CONTENT MAIN -->

  <div id="Contact"></div>

  <div class="contact__box">
    <h2 id="Contact">Contact</h2>
    <div class="contact__top-spacer"></div>
    <span class="contact__bus-info">Gamer Pass</span><br>
    <span class="contact__bus-info">P.O. Box 4567</span><br>
    <span class="contact__bus-info">Chicago, IL </span><br>
    <span class="contact__bus-info">60601</span><br>

    <div class="contact__social-box">
      <div class="contact__social-bubble">
        <a href="https://www.facebook.com/" target="_social"><%= image_tag "facebook.svg", :class => "contact__social-icon", :alt => "facebook icon"%></a>
      </div>
      <div class="contact__social-bubble">
        <a href="https://twitter.com/" target="_social"><%= image_tag "twitter.svg", :class => "contact__social-icon", :alt => "twitter icon"%></a>
      </div><!-- SOCIAL BUBBLE -->
    </div><!-- CONTACT SOCIAL BOX -->

    <div class="contact__bottom-space"></div>
  </div><!-- CONTACT BOX -->

</div><!-- CONTENT BOX -->
