

.UVP {
	text-align: center;
	font-weight: 200;
	font-size: 4rem;
	margin: 25px;
	padding-bottom: 20px;
}

.content__box {
	margin: 0px 0 0px 0;
	padding-bottom: 120px;
}

.content__main {
	margin: 0 0 0 60px;
}

.example-screens__box {
	/*display: flex;*/
	/*border: 1px solid green;*/
}

.example-screen {
	/*position: relative;*/
	display: block;
	margin-left: auto;
	margin-right: auto;

	max-width: 90%;
}

.selling-points__box {
	text-align: center;
}

.selling-point {
	font-size: 3rem;
	font-weight: 200;
}

#top{
	padding-top: 80px;
}

#About{
	padding-top: 80px;
}

.outer-box {
	display: flex;
	/*flex-direction: row;*/
}
 .placeholder-box {
	background-color: slategrey;
	height: 700px;
	margin: 80px 20px;
}
 .splash {

 	width: 35%;
}
 .form {
	/*margin: 20px;*/
	width: 55%;
}
@media(max-width: 1080px){
	.outer-box{
		flex-direction: column;
		margin-top: 60px;
	}
	.placeholder-box {
	background-color: slategrey;
	height: 700px;
	margin: 20px 20px;
	}
	.splash{width: 95%;}
	.form{width: 95%;}
}
