

.UVP {
	text-align: center;
	font-weight: 200;
	font-size: 4rem;
	padding-bottom: 20px;
	margin: 30px;
	padding: 0;
	margin-top: 25px;
}

.content__box {
	margin: 0px 0 0px 0;
	padding-bottom: 10px;
}

.content__main {
	margin: 0 0 0 60px;
}

.example-screens__box {
	/*display: flex;*/
	/*border: 1px solid green;*/
}

.example-screen {
	/*position: relative;*/
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 90%;
}

.selling-points__box {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 80px;
}

.selling-point {
	text-align: center;
	font-size: 2.8rem;
	font-weight: 200;
	max-width: 900px;
	margin: 22px;
}

#top{
	padding-top: 80px;
}

#About{
	padding-top: 80px;
}

.outer-box {
	display: flex;
	padding-right: 100px;
	/*flex-direction: row;*/
}
 .placeholder-box {
	/* background-color: slategrey; */
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin: 20px 6px;
}
 .splash {
 	width: 780px;
}
 .form {
	/*margin: 20px;*/
	width: 55%;
}

.splashimg{
	display: none;
	background-color: #5a5a66;
	padding: 6px;
	border-radius: 10px;
}

hr.horizontal-rule__taper{
	margin: 14px 0px;
	height: 2px;
	width: 60%;
	background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(87, 127, 179, 1), rgba(0, 0, 0, 0));
}
@media(max-width: 1280px){
	.outer-box{
		padding-right: 40px;
	}

}
@media(max-width: 1080px){
	.outer-box{
		flex-direction: column;
		height: 100%;
		padding-right: 0px;
		padding-left: 10px;
		justify-content: center;
		align-content: center;
	}
	.placeholder-box {
	min-height: 700px;
	margin: 20px 20px;
	}
	.selling-point {
		font-size: 2.0rem;
	}
	.splash{width: 95%;}
	.form{width: 95%;}

}

@media(max-width: 880px){
	.selling-point {
		padding: 10px 0px;
		box-sizing: border-box;
		font-size: 1.6rem;
	}
	.form{min-height: 0px}

}

@media(max-width: 680px){
	.UVP{
		font-size: 2.6rem;
		padding-left: 0;
		margin: 30px 0px;
	}
	.selling-point {
		padding: 10px 0px;
		box-sizing: border-box;
		font-size: 1.2rem;
	}
	.placeholder-box{
		margin: 10px 0px;
	}
	.outer-box{
		width: 100%;
	}
}

@media(max-width: 779px){
	.splashimg.small{
		display: flex;
	}
	.splashimg.big{
		display: none;
	}
}

@media(min-width: 780px){
	.splashimg.big{
		display: none;
	}
	.splashimg.small{
		display: flex;
	}
}
